html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: lightblue;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
    margin: 0 auto;
    padding-top: 64px;
    max-width: 640px;
    width: 94%;
}

.contact h1 {
    margin-top: 0;
}



.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

#contact
{
    padding-top: 5%;
    font-family: "Helvetica Neue";
    font-size: 1em;
    color: black;

}







.post{
    background-color: goldenrod;
    border-color: #00C853;
    border-style:  solid;
}

.postare{
    padding:3%;
}

.titlu h3
{
    padding-bottom: 3%;
    color:green;
    text-align:center;
    font-size: 4em;
}

.comment {
    padding-top:2%;
    color:blue;
    text-decoration: none;
}

.comment div{
    color:grey;
}

/*
body {
    background-color: lightblue;
    display: block;
    min-height: 100vh;
    flex-direction: column;
}



#footer {
    position:fixed;
    bottom: 0;
    left:0;
    right:0;
    color:red;
    font-size:1.5em;
    border-top: solid black;
}
*/